<% @products.each do |product| %>
  <div class="col-md-4">
    <div class="product-item">
      <div class="product-thumb">
        <span class="bage">Sale</span>
        <%= image_tag(image_path(product.image_url), :class => "img-responsive", :alt => "product-img") %>
        <div class="preview-meta">
          <ul>
            <li>
              <span data-id="<%= product.image_url %>" data-toggle="modal" data-target="#product-modal-<%= product.id %>">
                <i class="tf-ion-ios-search-strong"></i>
              </span>
            </li>
            <li>
              <a href="#!" ><i class="tf-ion-ios-heart"></i></a>
            </li>
            <li>
              <a href="#!"><i class="tf-ion-android-cart"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="product-content">
        <h4><a href="product-single.html"><%= product.name %></a></h4>
        <p class="price"><%= product.price %></p>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal product-modal fade" id="product-modal-<%= product.id %>">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <i class="tf-ion-close"></i>
    </button>
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <div class="modal-image">
                <%= image_tag(image_path(product.image_url), :class => "img-responsive", :alt => "product-img") %>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="product-short-details">
                <h2 class="product-title"><%= product.name %></h2>
                <p class="product-price">$<%= product.price %></p>
                <p class="product-short-description">
                  <%= product.description %>
                </p>
                <a href="cart.html" class="btn btn-main">Add To Cart</a>
                <%= link_to "View Product Details", product, :class => "btn btn-transparent"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.modal -->
<% end  %>
