<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-3">
        <div class="block text-center">
          <a class="logo" href="index.html">
            <img src="images/logo.png" alt="">
          </a>
          <h2 class="text-center">Forgot your password?</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", :class => "form-control" %>
            </div>

            <div class="text-center">
              <%= f.submit "Send me reset password instructions", :class => "btn btn-main text-center" %>
            </div>
          <% end %>

          <p class="mt-20">
            New in this site? <%= link_to " Create New Account", new_registration_path(resource_name) %> </br>
            Already hava an account? <%= link_to " Log in", new_session_path(resource_name) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
